.yb-button {
  border-radius: 2px;
}

.primary-button {
  background: #4aa9a4;
}

.success-button {
  background: #c3ce5f;
}

.danger-button {
  background: #c45c66;
}

.small-button {
  padding: 0 5px;
}

.normal-button {
  padding: 0 15px;
}

.big-button {
  padding: 0 25px;
}
